@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css 또는 global.css */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
  }
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .slick-track {
    display: flex !important; /* 가로 정렬 강제 적용 */
    flex-direction: row; /* 가로 정렬 */
  }
  
  .slick-slide {
    display: block;
    height: auto !important;
  }
  

/* 기본 화살표를 보이지 않게 설정 */
.slick-prev, .slick-next {
  visibility: hidden;
}

/* 커스텀 화살표가 적용될 때는 보이도록 설정 */
.custom-arrow {
  visibility: visible !important;
}